﻿
@inject Microsoft.AspNetCore.Identity.SignInManager<ClassLibrary1.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<ClassLibrary1.User> UserManger

@model IndexModel




<br />
<h1 style=" position:relative; left:310px;">Welcome to MoveIt!</h1>
<br />
<div class="card-body pb-3" style="height:200px; width:500px; position:relative; left:250px;">
    <form accept-charset="UTF-8" role="form" asp-action="Index" asp-controller="Home">
        <fieldset>
            <label>Username</label>
            <div class="form-group mb-3">
                <input type="text" class="form-control" placeholder="Username" asp-for="@Model.Username">
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <label>Password</label>
            <div class="form-group mb-3">
                <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-check form-check-info text-left">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="">
                <label class="form-check-label" for="flexCheckDefault">
                    I agree the <a href="javascrpt:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                </label>
            </div>
            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <br />
            <label>  @ViewData["wrongacc"]</label>
        </fieldset>
    </form>

</div>




