﻿


@model RegisterModel





<div class="signup-form" style="position:relative; top:80px; width:900px; left:100px;">
    <form asp-controller="Home" asp-action="Register" method="post">
        <h2>Register</h2>
        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
            <div class="row">
                

            </div>
        </div>
        <div class="form-group">

            <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Username" required="required">
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">

            <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password" required="required">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required="required">
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>

</div>
