﻿
<body>
    <br />
    <div class="card" style="height:200px; width:500px; position:relative; left:250px; background: #F8FAF5;">
        <div style="position:relative; left:180px;">
            <h1>Success</h1>
           
            <p style="position:relative; left:-30px;">You have succesfully registered!<br /> </p>
            <br />
            <a class="btn btn-outline-info" asp-action="Index" asp-controller="Home">Go to Main page</a>
        </div>
       
    </div>
</body>
