﻿@inject Microsoft.AspNetCore.Identity.SignInManager<ClassLibrary1.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<ClassLibrary1.User> UserManger

<div class="card align-items-lg-end" style="position:relative; top:30px; width:500px; border:none; left:410px;">
    <br />
    <h1 style="position:relative; left:-290px;">File Uploader</h1>
    <form asp-controller="HomeSignIn" asp-action="Index" method="post" style="position:relative; top:0px; width:600px;" enctype="multipart/form-data">
        <br />

        <label for="text5" class="col-4 col-form-label">Upload</label>
        <br />
        <div class="col-8">

            <input type="file" name="file" required="required" class="form-control">

        </div>
        <br />
        <br /> 
        <h3 style="position:relative; left:30px;"> @ViewData["conflict"]</h3>
        <br />
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-info" style="position:relative; left:-200px;">Submit</button>
            </div>
        </div>
    </form>
</div>

