﻿
@{
    ViewData["Title"] = "Error";
}

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>The file was successfully upload!;<br /><a class="btn btn-outline-info" asp-action="Index" asp-controller="HomeSignIn">Go to Main page</a></p>
    </div>
</body>